PoshGUI-sample/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
PoshGUI-sample/obj/Debug/PoshGUI-sample.csproj.AssemblyReference.cache
PoshGUI-sample/obj/Debug/PoshGUI-sample_MarkupCompile.lref
PoshGUI-sample/obj/Debug/PoshGUI-sample_MarkupCompile.cache
PoshGUI-sample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PoshGUI-sample/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PoshGUI-sample/obj/Debug/PoshGUI-sample_MarkupCompile.cache
PoshGUI-sample/obj/Debug/PoshGUI-sample_MarkupCompile.lref
PoshGUI-sample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
